body{
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2{
    color:black;
}
#btn-1{
    background-color: rgb(197, 197, 197);
    height: 100%;
    font-size: 20px;
    padding: 3px 15px;
    margin-left: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: black 10px;
    height: 30px;
    width: 150px;
}
#select-options{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}
